.container {
  z-index: 5;
  
}
/* Add this to your CSS file */
/* Add this to your CSS file or in a style tag in your component */
button {
    width: 10%;
    margin-top: 32rem;

     /* Adjust the margin-top value as needed */
   /* Set a high z-index value to ensure it's at the top */
  }
  