/* Regular styles */
.container {
  z-index: 5;
}

button {
  width: 36%;
  margin-left: 10rem;
}

.buttonContainer {
  font-size: 14px;
  margin-left: -5.5rem;
}

h2 {
  margin-left: 0.5rem;
}

/* Media queries */
@media screen and (max-width: 320px) {
  .buttonContainer {
    margin-left: -5.5rem;
  }

  h2 {
    margin-left: 0.5rem;
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  .buttonContainer {
    margin-left: -7rem;
  }

  h2 {
    margin-left: 0.5rem;
  }
}

/* Add other media queries as needed */
